* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Menlo, Consolas, monospace;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

input:focus,
textarea:focus,
a:focus,
button:focus {
  outline: 0;
}

.panel {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #292928;
  color: #c2c2c1;
}

.sidepanel {
  top: 0;
  left: 100%;
  bottom: 0;
  overflow: hidden;
}

.editorpanel {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.errorpanel {
  right: 0;
  left: 0;
  bottom: 100%;
  -webkit-transition: -webkit-transform 250ms linear;
          transition: transform 250ms linear;
  z-index: 2;
}
.errorpanel.has-errors .trigger {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.errorpanel.open {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.errorpanel.open .trigger {
  -webkit-transform: translate3d(0, -4em, 0);
          transform: translate3d(0, -4em, 0);
}

.area {
  white-space: pre-wrap;
  word-break: break-all;
  line-height: 1.3;
}

.input {
  width: 100%;
  height: 100%;
  border: 0.1em solid #292928;
  resize: none;
  box-shadow: none;
  border-radius: 0;
  padding: 7em 1.5em 1.5em;
  background: #292928;
  color: #c2c2c1;
}

.output {
  padding: 1.5em;
  width: 100%;
  height: 100%;
}

.statusbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5em 1em;
  color: #c2c2c1;
  background: #292928;
  font-weight: bold;
}

.cursor-position {
  float: right;
}

.trigger {
  position: absolute;
  z-index: 3;
  height: 3em;
  width: 3em;
  margin: 0.5em;
  line-height: 1;
  border-radius: 0.3em;
  background: #292928;
  color: #c2c2c1;
  cursor: pointer;
  overflow: hidden;
  border: 0.2em solid #c53800;
}
.trigger:hover {
  background: #c53800;
}
.errorpanel .trigger {
  top: 100%;
  left: 0;
  -webkit-transition: -webkit-transform 250ms linear 500ms;
          transition: transform 250ms linear 500ms;
  -webkit-transform: translate3d(0, -4em, 0);
          transform: translate3d(0, -4em, 0);
}
