* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.panel {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.sidepanel {
  top: 0;
  left: 100%;
  bottom: 0;
}

.errorpanel {
  right: 0;
  left: 0;
  bottom: 100%;
  background: #c50400;
  color: #fff;
  -webkit-transition: bottom 250ms linear;
          transition: bottom 250ms linear;
}
.errorpanel.open {
  bottom: 0;
}
.errorpanel.open .trigger {
  top: auto;
  bottom: 0;
}

.editorpanel {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.area {
  white-space: pre-wrap;
  word-break: break-all;
  line-height: 1.3;
}

.input {
  width: 100%;
  height: 100%;
  border: 0.1em solid #292928;
  resize: none;
  box-shadow: none;
  border-radius: 0;
  padding: 6em 1.5em 1.5em;
  background: #c2c2c1;
  font-family: Menlo, Consolas, monospace;
}

.output {
  padding: 1.5em;
  width: 100%;
  height: 100%;
}

.trigger {
  position: absolute;
  z-index: 3;
  width: 2em;
  height: 2em;
  margin: 0.3em;
  font-size: 1.5em;
  border-radius: 0.3em;
  background: #c2c2c1;
  border: 0.1em solid #292928;
  cursor: pointer;
}
.trigger:hover {
  color: #c2c2c1;
  background: #292928;
}
.trigger:focus {
  outline: 0;
}
.sidepanel .trigger {
  top: 0;
  right: 100%;
}
.errorpanel .trigger {
  top: 100%;
  left: 0;
}
