$color-base: #767574;

$color-darkest: darken($color-base, 30%);
$color-darker: darken($color-base, 20%);
$color-dark: darken($color-base, 10%);
$color-light: lighten($color-base, 10%);
$color-lighter: lighten($color-base, 20%);
$color-lightest: lighten($color-base, 30%);


$time-base: 500ms;

$time-short: $time-base / 2;


* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.panel {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.sidepanel {
  top: 0;
  left: 100%;
  bottom: 0;
}

.errorpanel {
  right: 0;
  left: 0;
  bottom: 100%;
  background: #c50400;
  color: #fff;
  transition: bottom $time-short linear;

  &.open {
    bottom: 0;

    .trigger {
      top: auto;
      bottom: 0;
    }
  }
}

.editorpanel {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.area {
  white-space: pre-wrap;
  word-break: break-all;
  line-height: 1.3;
}

.input {
  width: 100%;
  height: 100%;
  border: 0.1em solid $color-darkest;
  resize: none;
  box-shadow: none;
  border-radius: 0;
  padding: 6em 1.5em 1.5em;
  background: $color-lightest;
  font-family: Menlo, Consolas, monospace;
}

.output {
  padding: 1.5em;
  width: 100%;
  height: 100%;
}

.statusbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5em 1em;
  color: #fff;
  background: #000;
  font-weight: bold;
  font-family: Menlo, Consolas, monospace;
}

.cursor-position {
  float: right;
}

.trigger {
  position: absolute;
  z-index: 3;
  width: 2em;
  height: 2em;
  margin: 0.3em;
  font-size: 1.5em;
  border-radius: 0.3em;
  background: $color-lightest;
  border: 0.1em solid $color-darkest;
  cursor: pointer;

  &:hover {
    color: $color-lightest;
    background: $color-darkest;
  }

  &:focus {
    outline: 0;
  }

  .sidepanel & {
    top: 0;
    right: 100%;
  }

  .errorpanel & {
    top: 100%;
    left: 0;
  }
}
