<!DOCTYPE html>
<html>
<head>
  <title>Coffeescript from hell</title>
  <link rel="stylesheet" href="css/style.css">
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<button class="btn" id="share-code">Share Link</button>
<aside class="panel sidepanel">
  <button class="trigger">&#x25C0;</button>
  <pre id="output" class="area output"></pre>
</aside>
<aside class="panel errorpanel">
  <button class="trigger">&#x25BC;</button>
  <div id="warnings" class="area output warning"></div>
</aside>
<div class="panel editorpanel">
  <textarea class="area input" id="input" placeholder="enter code here..."></textarea>
</div>

  <script src="js/bundle.min.js"></script>
</body>
</html>